//
// Sidebar
//======================================

.sidebar {
  font-size: rem( $sidebar-fontSize );
  margin-bottom: 40px;
  .widget {
    background-color: $sidebarWidget-backgroundColor;
    padding: 40px;
  }
  @media only screen and (max-width: 860px) {
    margin-bottom: 5%;
  }
}