/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
  background-color: $input-backgroundColor;
  border: 1px solid $input-borderColor;
  color: $input-color;
  font-size: rem($input-fontSize);
  font-weight: 400;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid $inputFocus-borderColor;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: $input-color;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $input-color;
}