/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-fontFamily;
  font-weight: 600;
  line-height: $headings-lineHeight;
  margin: 0 0 10px;
}

h1 {
  font-size: rem( $h1-fontSize );
}

h2 {
  font-size: rem( $h2-fontSize );
}

h3 {
  font-size: rem( $h3-fontSize );
}

h4 {
  font-size: rem( $h4-fontSize );
}

h5 {
  font-size: rem( $h5-fontSize );
}

h6 {
  font-size: rem( $h6-fontSize );
}