//
// Widget Title
//======================================

.widget-title {
  font-size: rem($widgetTitle-fontSize);
  margin-bottom: 20px;
  .sidebar & a {
    color: $widgetTitle-color;
    text-decoration: none;
  }
}