//
// Genesis
//======================================

.breadcrumb {
  background-color: $breadcrumb-backgroundColor;
  font-size: rem( $breadcrumb-fontSize );
  margin-bottom: 1px;
  padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
  background-color: $genesisElements-backgroundColor;
  font-size: rem( $genesisElements-fontSize );
  margin-bottom: 40px;
  padding: 60px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}