//
// Content
//======================================

.content {
  float: right;
  width: $content-width;

  @media only screen and (max-width: $larger-screen) {
    width: $content-width-largerScreen;

  }
  @media only screen and (max-width: $large-screen) {
    width: $content-width-largeScreen;
  }

  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentBothSidebars-width;
    @media only screen and (max-width: $larger-screen) {
      width: $contentBothSidebars-width-largerScreen;
    }
    @media only screen and (max-width: $large-screen) {
      width: $contentBothSidebars-width-largeScreen;
    }
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .full-width-content & {
    width: 100%;
  }
}
