//
// Content
//======================================

.content {
  float: right;
  width: 880px;
  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: 660px;
  }
  .full-width-content & {
    width: 100%;
  }
}