//
// Wrapping div for .content and .sidebar-primary
//======================================

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentSidebarWrap-width;

    @media only screen and (max-width: $larger-screen) {
      width: $contentSidebarWrap-width-largerScreen;
    }

    @media only screen and (max-width: $large-screen) {
      width: $contentSidebarWrap-width-largeScreen;
    }
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }
}