//
// Primary Sidebar
//======================================

.sidebar-primary {
  float: right;
  width: $primarySidebar-width;

  @media only screen and (max-width: $larger-screen) {
    width: $primarySidebar-width;
  }

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}

