//
// Entry Title
//======================================

.entry-title {
  font-size: rem($entryTitle-fontSize);
  a {
    color: $entryTitle-linkColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $entryTitle-hoverColor;
    }
  }
}