//
// Site Footer
//======================================

.site-footer {
  background-color: $siteFooter-backgroundColor;
  border-top: 1px solid $siteFooter-borderColor;
  font-size: rem( $siteFooter-fontSize );
  line-height: 1;
  padding: 60px 0;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}