//
// Color Variables
//======================================

// Base
$white: $white;
$black: #000;

$base-color: #333;

$link-color: #c3251d;
$link-hoverColor: #333;

$body-backgroundColor: #eee;

// Elements
$hr-borderTop: #eee;

// Form Elements
$input-backgroundColor: $white;
$input-borderColor: #ddd;
$input-color: #333;
$inputFocus-borderColor: #999;

// Buttons
$button-backgroundColor: #333;
$button-backgroundHoverColor: #c3251d;
$button-color: $white;
$button-hoverColor: $white;
$button-disabledBackgroundColor: #eee;
$button-disabledColor: #777;

// Tables
$tableBody-borderColor: #eee;
$tableCell-borderColor: #eee;

// Header
$siteTitle-linkColor: #333;
$siteHeader-backgroundColor: $white;

// Navigation
$nav-linkColor: #333;
$nav-hoverColor: #c3251d;

$submenu-borderColor: #eee;
$submenu-linkBackgroundColor: $white;

$primaryNav-backgroundColor: $white;
$primaryNav-borderColor: #eee;
$primaryNav-linkColor: $nav-linkColor;

$secondaryNav-backgroundColor: $white;
$secondaryNav-borderColor: #eee;
$secondaryNav-linkColor: $nav-linkColor;

$jsNav-backgroundColor: $white;
$jsNav-hoverColor: $black;
$jsNav-focusColor: #c3251d;

$navToggle-backgroundColor: $white;
$navToggle-color: #333;

$archivePagination-backgroundColor: $white;
$archivePagination-color: #333;
$archivePagination-hoverBackgroundColor: #c3251d;
$archivePagination-hoverColor: $white;

// Entry
$entryTitle-linkColor: #333;
$entryTitle-hoverColor: #c3251d;

$entry-backgroundColor: $white;

$entryFooterMeta-borderColor: #eee;

$entryCode-backgroundColor: #333;
$entryCode-borderColor: #eee;

// Widgets
$sidebarWidgetTitle-color: #333;
$sidebarWidget-backgroundColor: $white;

// Plugins
$enews-color: $white;
$enews-backgroundColor: #333;
$enewsInput-borderColor: #333;
$enewsButton-backgroundColor: #c3251d;
$enewsButton-color: $white;
$enewsButtonHover-backgroundColor: $white;
$enewsButtonHover-color: #333;

// Footer
$siteFooter-backgroundColor: $white;
$siteFooter-borderColor: #eee;
$footerWidgets-backgroundColor: $white;

// Comments
$comments-backgroundColor: $white;

// General Components
$breadcrumb-backgroundColor: $white;
$authorBox-backgroundColor: $white;
$afterEntry-backgroundColor: $white;
$archiveDescription-backgroundColor: $white;

// Gallery
$gallery-borderColor: #eee;
$gallery-borderHoverColor: #999;