//
// Device Screen Sizes
//======================================

$smallest-screen: 320px;
$smaller-screen: 480px;
$small-screen: 860px;
$medium-screen: 1023px;
$large-screen: 1200px;
$larger-screen: 1340px;
$huge-screen: 1600px;