//
// Dimension Variables
//======================================

$baseWidth: 1280;
$gutter: 40px;

//Max Widths
$maxWidth: $baseWidth + px;
$maxWidth-largerScreen: 1140px;
$maxWidth-largeScreen: 960px;
$maxWidth-mediumScreen: 800px;
$maxWidth-landingPage: 800px;

// Content Widths
$content-width: $baseWidth * 0.6875 + px;
$contentBothSidebars-width: 660px;
$content-width-largerScreen: 800px;
$content-width-largeScreen: 620px;
$contentBothSidebars-width-largerScreen: 580px;
$contentBothSidebars-width-largeScreen: 400px;
$contentSidebarWrap-width: 1060px;
$contentSidebarWrap-width-largerScreen: 920px;
$contentSidebarWrap-width-largeScreen: 740px;

$primarySidebar-width: $baseWidth * 0.28125 + px;
$primarySidebar-width-largerScreen: 300px;

$secondarySidebar-width: 180px;

// Header
$titleArea-width: 300px;
$siteTitle-minHeight: 80px;
$headerRight-width-hugeScreen: 800px;
$headerRight-width-largeScreen: 620px;

// Footer
$footerWidgets--hugeScreen: 380px;
$footerWidgets-width-largerScreen: 340px;
$footerWidgets-width-largeScreen: 300px;