//
// Dimension Variables
//======================================


// Header
$titleArea-width: 300px;
$siteTitle-minHeight: 80px;
$headerRight-width-hugeScreen: 800px;
$headerRight-width-largeScreen: 620px;

// Footer
$footerWidgets--hugeScreen: 380px;
$footerWidgets-width-largerScreen: 340px;
$footerWidgets-width-largeScreen: 300px;