//
// Typography Variables
//======================================

// Common Fonts
$fontFamily-sourcesans: 'Source Sans Pro', sans-serif;
$fontFamily-muli: 'Muli', sans-serif;
$fontFamily-lato: Lato, sans-serif;
$fontFamily-helvetica: Helvetica, arial, sans-serif;
$fontFamily-opensans: 'Open Sans', Helvetica, Arial, sans-serif;
$fontFamily-serif: Georgia, Times, serif;

// Base
$html-fontSize: 62.5%;
$base-fontFamily: $fontFamily-sourcesans;
$base-fontSize: 20;
$base-fontSize-smallScreen: 18px;
$baseDiv-fontSize: 2rem;
$baseDiv-fontSize-smallScreen: 1.8rem;
$base-lineHeight: 1.625;

// Headings
$headingsFontFamily: $fontFamily-sourcesans;
$headings-lineHeight: 1.2;
$h1-fontSize: 36;
$h2-fontSize: 30;
$h3-fontSize: 24;
$h4-fontSize: 20;
$h5-fontSize: 18;
$h6-fontSize: 16;

// Navigation
$nav-fontSize: 16;
$submenu-fontSize: 14;
$primaryNav-fontSize: 14;
$archivePagination-fontSize: 16;

// Header
$siteTitle-fontSize: 30;
$siteDescription-fontSize: 16;

// Footer
$siteFooter-fontSize: 16;
$siteFooterWidget-fontSize: 18;

// Entry
$entryTitle-fontSize: 36;

$entryMeta-fontSize: 16;
$entryMeta-header-fontSize: 16;
$entryMeta-footer-fontSize: 16;

// Elements
$blockquote-fontSize: 30;
$input-fontSize: 18;
$button-fontSize: 16;

// Widgets
$widgetTitle-fontSize: 18;
$sidebar-fontSize: 16;

// Plugins
$featuredContentEntryTitle-fontSize: 20;
$enewsWidgetInput-fontSize: 16;

// Comments
$comments-fontSize: 16;

// General Components
$breadcrumb-fontSize: 16;

$authorBoxTitle-fontSize: 20;
$authorBox-fontSize: 18;

$afterEntry-fontSize: 18;

$archiveTitle-fontSize: 20;
$archiveDescription-fontSize: 18;

$caption-fontSize: 14;

