//
// Typography Variables
//======================================

// Navigation
$nav-fontSize: 16;
$submenu-fontSize: 14;
$primaryNav-fontSize: 14;
$archivePagination-fontSize: 16;

// Header
$siteTitle-fontSize: 30;
$siteDescription-fontSize: 16;


// Footer
$siteFooter-fontSize: 16;
$siteFooterWidget-fontSize: 18;