//
// Typography Variables
//======================================

// Navigation
$nav-fontSize: 16;
$submenu-fontSize: 14;
$primaryNav-fontSize: 14;
$archivePagination-fontSize: 16;

// Header
$siteTitle-fontSize: 30;
$siteDescription-fontSize: 16;


// Footer
$siteFooter-fontSize: 16;
$siteFooterWidget-fontSize: 18;

// Entry
$entryTitle-fontSize: 36;

$entryMeta-fontSize: 16;
$entryMeta-header-fontSize: 16;
$entryMeta-footer-fontSize: 16;

$archiveAuthorTitles-fontSize: 20;

// Sidebar
$widgetTitle-fontSize: 18;
$sidebar-fontSize: 16;

// Plugins
$featuredContentEntryTitle-fontSize: 20;
$enewsWidgetInput-fontSize: 16;

// Genesis
$breadcrumb-fontSize: 16;
$genesisElements-fontSize: 18;

// Comments
$comments-fontSize: 16;