//
// Archive Description
//======================================

.archive-description {
  background-color: $archiveDescription-backgroundColor;
  font-size: rem( $archiveDescription-fontSize );
  margin-bottom: 40px;
  padding: 60px;

  @media only screen and (max-width: $small-screen) {
    padding: 30px;
    margin-bottom: 5%;
  }
}

.archive-description p:last-child {
  margin-bottom: 0;
}